/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */


/* Sicky Nav */

header {
    position : sticky;
    top :0;
    font-size: 30px;
    color: white;
    background-color:  #3991bd;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    display: flex;
    justify-content: center; 
}

/* Maim Menu */

.mainmenu-stickynav {
    /* display: flex; */
    background-color: white;
    height: 60px;
    width: 100%;
}
#logo {
    /* float: left; */
    /* display: flex; */
    /* position: relative; */
    /* max-width: 100px; */

    height: 17px;
    max-height: 17px;
    margin-top: 14px;

}

.nav-style {
    font-family: "Inter", sans-serif;
    font-size: large;
    word-spacing: 20px;
}
.flexnav {
   
    /* float: right; */
    list-style: none;
    text-align: left;
    margin: 6px;
    padding-left: 460px;
    /* display: flex; */
}



/* Works down here */
/* nav ul li */

 .flexnav > li {                                                             /*max-width: 768px*/
    display:Inline-block;
    padding: 10px 9px 10px 9px;                               /*nav bar text*/
 }

 .flexnav > li a {
     width: 50px;                                       
     text-decoration: none;
     color: #6a6a6a;
     font-size: 14px;
     padding: 5px 0px 5px 0px
     
 }

 .flexnav > li > a:hover {
     color: #397dd1;
 }

#hamburger {
    filter: invert(23%) sepia(17%) saturate(4%) hue-rotate(0deg) brightness(100%) contrast(91%);
    height: 24px;
    max-height: 24px;
    margin-bottom: -6px;    
   
}

/* End Content */

.end-container {
    display: flex;
    justify-content: center;
}

.responsive {
    width: 100%;
    max-width: 1024.38px;
    height: auto;
    max-height:  431.094px;
    padding-top: 90px;
    padding-left: 60px;
}

.color-font {
    font-family: "Inter", sans-serif;
    color: #424242;
}

.tagline {
    font-size: 45px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    padding-top: 42px;
} 

.message {
    font-size: 20px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-top: -15px;
}
.button-center {
    display: flex;
    justify-content: center;
}
button {
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #397dd1;
    color: #fdfeff;
    border: none;
    border-radius: 3px;
    margin-top: 32px;
}